.form {
    align-items: flex-start;
    justify-content: space-evenly;

}

.buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.mr {
    margin-right: 12px;
}

.ml {
    margin-left: 80px;
}

.column {
    flex: 1;
    padding: 10px;
    margin-bottom: 5px;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  align-items: flex-end;
}

.containerBlock {
    display:block;
    margin-right: 5px;
}

.input {
    max-width: 377px;
    width: 100%;
    margin-right: 12px;
}


.circleBlock {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}